<div class="column-layout group">
  <div class="row-layout group_1">
    <h4 class="h4">
      K-rad
    </h4>
    <p class="text">
      印税・契約書システム ＞ TOP ＞ 当月店別合計一覧（売上年月別）
    </p>
    <igx-simple-combo type="border" [data]="menuTable1?.posts!" placeholder="0000：ログイン者名" displayKey="menu" class="single-select-combo"></igx-simple-combo>
  </div>
  <button igxButton="contained" igxRipple class="button">
    <igx-icon>
      home
    </igx-icon>
  </button>
  <div class="column-layout group_2">
    <div class="row-layout group_3">
      <p class="text_1">
        処理年月
      </p>
      <igx-date-picker type="border" mode="dialog" class="date-picker"></igx-date-picker>
    </div>
    <div class="row-layout group_4">
      <p class="text_2">
        店
      </p>
      <igx-simple-combo type="border" [data]="shopTable1?.posts!" placeholder="000：全販売店" displayKey="店コード" class="single-select-combo_1"></igx-simple-combo>
    </div>
  </div>
  <div class="row-layout group_5">
    <button igxButton="contained" igxRipple [igxToggleAction]="dialog3" class="button_1">
      検索
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" #dialog3>
      <ng-container>
        <p>検索します。</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog3">
          キャンセル
        </button>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog3">
          OK
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="row-layout group_6">
    <div class="column-layout group_7">
      <div class="row-layout group_8">
        <h6 class="content">
          売上数計
        </h6>
      </div>
      <p class="text_3">
        9,999,999
      </p>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_8">
        <h5 class="content">
          販売定価計
        </h5>
      </div>
      <p class="text_3">
        999,999,999.99
      </p>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_8">
        <h5 class="content">
          正味金額計
        </h5>
      </div>
      <p class="text_3">
        999,999,999.99
      </p>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_8">
        <h5 class="content">
          消費税計
        </h5>
      </div>
      <p class="text_3">
        999,999,999.99
      </p>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_8">
        <h5 class="content">
          請求金額計
        </h5>
      </div>
      <p class="text_3">
        999,999,999.99
      </p>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_8">
        <h5 class="content">
          販売価格計
        </h5>
      </div>
      <p class="text_3">
        999,999,999.99
      </p>
    </div>
  </div>
  <div class="column-layout group_10">
    <igx-grid [data]="sampleTable1?.posts!" primaryKey="店（コード：店名）" height="650px" class="grid">
      <igx-grid-toolbar>
        <igx-grid-toolbar-actions>
          <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
        </igx-grid-toolbar-actions>
        <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
      </igx-grid-toolbar>
      <igx-column field="店（コード：店名）" dataType="string" header="店（コード：店名）" [selectable]="false"></igx-column>
      <igx-paginator [perPage]="10"></igx-paginator>
      <igx-column field="取込日付" dataType="string" header="取込日付" [selectable]="false"></igx-column>
      <igx-column field="売上数" dataType="string" header="売上数" [selectable]="false"></igx-column>
      <igx-column field="販売定価" dataType="string" header="販売定価" [selectable]="false"></igx-column>
      <igx-column field="正味金額" dataType="string" header="正味金額" [selectable]="false"></igx-column>
      <igx-column field="消費税" dataType="string" header="消費税" [selectable]="false"></igx-column>
      <igx-column field="請求金額" dataType="string" header="請求金額" [selectable]="false"></igx-column>
      <igx-column field="販売価格" dataType="string" header="販売価格" [selectable]="false"></igx-column>
    </igx-grid>
    <igx-dialog [closeOnOutsideSelect]="true" #dialog4>
      <igx-dialog-title>
        <h5>
          Confirmation
        </h5>
      </igx-dialog-title>
      <ng-container>
        <p>Are you sure you want to do this?</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog4">
          Cancel
        </button>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog4">
          OK
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <igx-dialog [closeOnOutsideSelect]="true" #dialog5>
    <ng-container>
      <p>Excel出力しますか</p>
    </ng-container>
    <igx-dialog-actions>
      <button igxButton="flat" igxRipple [igxToggleAction]="dialog5">
        キャンセル
      </button>
      <button igxButton="flat" igxRipple [igxToggleAction]="dialog5">
        OK
      </button>
    </igx-dialog-actions>
  </igx-dialog>
</div>
