<div class="column-layout group">
  <div class="row-layout group_1">
    <h4 class="h4">
      K-rad
    </h4>
    <p class="text">
      印税・契約書システム ＞ TOP ＞ 当月売上月次締め
    </p>
    <igx-simple-combo type="border" [data]="menuTable1?.posts!" placeholder="0000：ログイン者名" displayKey="menu" class="single-select-combo"></igx-simple-combo>
  </div>
  <button igxButton="contained" igxRipple class="button">
    <igx-icon>
      home
    </igx-icon>
  </button>
  <div class="row-layout group_2">
    <p class="text_1">
      処理年月
    </p>
    <igx-input-group type="border" size="medium" class="input">
      <label igxLabel for="inputField"></label>
      <input name="inputField" [required]="false" [disabled]="false" igxInput igxDateTimeEditor="yyyy/MM/dd" displayFormat="shortDate" [spinLoop]="true" />
    </igx-input-group>
  </div>
  <div class="row-layout group_3">
    <button igxButton="contained" igxRipple [igxToggleAction]="dialog10" class="button_1">
      締め実行
    </button>
    <igx-dialog [closeOnOutsideSelect]="true" #dialog10>
      <ng-container>
        <p>締め実行します。</p>
      </ng-container>
      <igx-dialog-actions>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog10">
          キャンセル
        </button>
        <button igxButton="flat" igxRipple [igxToggleAction]="dialog10">
          OK
        </button>
      </igx-dialog-actions>
    </igx-dialog>
  </div>
  <div class="column-layout group_4">
    <igx-grid [data]="sampleTable1?.posts!" primaryKey="店（コード：店名）" height="740px" class="grid">
      <igx-grid-toolbar>
        <igx-grid-toolbar-actions>
          <igx-grid-toolbar-exporter></igx-grid-toolbar-exporter>
        </igx-grid-toolbar-actions>
        <igx-grid-toolbar-title>Grid Toolbar</igx-grid-toolbar-title>
      </igx-grid-toolbar>
      <igx-column field="店（コード：店名）" dataType="string" header="店（コード：店名）" [selectable]="false"></igx-column>
      <igx-paginator [perPage]="10"></igx-paginator>
      <igx-column field="取込日付" dataType="string" header="取込日付" [selectable]="false"></igx-column>
      <igx-column field="売上数" dataType="string" header="売上数" [selectable]="false"></igx-column>
      <igx-column field="販売定価" dataType="string" header="販売定価" [selectable]="false"></igx-column>
      <igx-column field="正味金額" dataType="string" header="正味金額" [selectable]="false"></igx-column>
      <igx-column field="消費税" dataType="string" header="消費税" [selectable]="false"></igx-column>
      <igx-column field="請求金額" dataType="string" header="請求金額" [selectable]="false"></igx-column>
      <igx-column field="販売価格" dataType="string" header="販売価格" [selectable]="false"></igx-column>
    </igx-grid>
  </div>
</div>
