<div class="column-layout group">
  <div class="row-layout group_1">
    <h4 class="h4">
      K-rad
    </h4>
    <p class="text">
      印税・契約書システム ＞ TOP
    </p>
    <igx-simple-combo type="border" [data]="menuTable1?.posts!" placeholder="0000：ログイン者名" displayKey="menu" class="single-select-combo"></igx-simple-combo>
  </div>
  <div class="row-layout group_2">
    <div class="column-layout group_3">
      <div class="row-layout group_4">
        <h5 class="h5">
          当月売上明細管理①
        </h5>
      </div>
      <div class="column-layout group_5">
        <a target="_blank" routerLink="/ig-view" class="hyperlink">
          <h6>・当月売上明細取込　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view1" class="hyperlink">
          <h6>・当月店別合計一覧 　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view2" class="hyperlink">
          <h6>・当月店別合計一覧（売上年月別）　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view3" class="hyperlink">
          <h6>・当月店別書誌明細一覧　</h6>
        </a>
      </div>
    </div>
    <div class="column-layout group_3">
      <div class="row-layout group_6">
        <h5 class="h5">
          累計売上明細管理①
        </h5>
      </div>
      <div class="column-layout group_7">
        <a target="_blank" routerLink="/ig-view9" class="hyperlink">
          <h6>・累計店別合計一覧　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view8" class="hyperlink">
          <h6>・累計店別合計一覧（売上年月別）　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view10" class="hyperlink">
          <h6>・累計店別書誌明細一覧　</h6>
        </a>
      </div>
    </div>
    <div class="column-layout group_3">
      <div class="row-layout group_6">
        <h5 class="h5">
          半月印税支払明細管理
        </h5>
      </div>
      <div class="column-layout group_7">
        <a target="_blank" class="hyperlink_1">
          <h6>・半期印税支払店別合計一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・半期著作権印税支払一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・半期著作権印税支払明細一覧　</h6>
        </a>
      </div>
    </div>
  </div>
  <div class="row-layout group_8">
    <div class="column-layout group_3">
      <div class="row-layout group_4">
        <h5 class="h5">
          当月売上明細管理②
        </h5>
      </div>
      <div class="column-layout group_5">
        <a target="_blank" routerLink="/ig-view4" class="hyperlink">
          <h6>・当月書誌別合計一覧　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view5" class="hyperlink">
          <h6>・当月著者別合計一覧　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view6" class="hyperlink">
          <h6>・当月書誌単価別合計一覧（海外版権）　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view7" class="hyperlink">
          <h6>・当月売上月次締め　</h6>
        </a>
      </div>
    </div>
    <div class="column-layout group_3">
      <div class="row-layout group_6">
        <h5 class="h5">
          累計売上明細管理②
        </h5>
      </div>
      <div class="column-layout group_7">
        <a target="_blank" routerLink="/ig-view11" class="hyperlink">
          <h6>・累計書誌別合計一覧　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view12" class="hyperlink">
          <h6>・累計著者別合計一覧　</h6>
        </a>
        <a target="_blank" routerLink="/ig-view13" class="hyperlink">
          <h6>・累計書誌単価別合計一覧（海外版権）　</h6>
        </a>
      </div>
    </div>
    <div class="column-layout group_3">
      <div class="row-layout group_6">
        <h5 class="h5">
          経理今回印税支払明細管理
        </h5>
      </div>
      <div class="column-layout group_7">
        <a target="_blank" class="hyperlink_1">
          <h6>・今回印税支払合計一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・今回著作権印税支払一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・今回著作権印税支払明細一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・経理印税支払承認一覧　</h6>
        </a>
        <a target="_blank" class="hyperlink_1">
          <h6>・SAP連携データ作成　</h6>
        </a>
      </div>
    </div>
  </div>
  <div class="row-layout group_9">
    <igx-icon class="icon">
      notification_important
    </igx-icon>
    <p class="text_1">
      お知らせ
    </p>
  </div>
  <div class="column-layout group_10">
    <igx-input-group type="border" class="textarea">
      <textarea igxInput></textarea>
    </igx-input-group>
  </div>
</div>
